.ship{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 50px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.button{
  text-align: center;
}
.buttonClass {
  font-family:'Times New Roman', Times, serif;
  color: yellow;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 2px 2px;
  cursor: pointer;
}